### Statistics 9: Test the hypothesis that the mean scores of all the students are the same

In [1]:
import pandas as pd
from scipy.stats import f_oneway

data = {"Name": ['Karan', 'Deepa', 'Karthik', 'Chandan', 'Jeevan'],
        "Exam 1": [85,70,90,75,95],
        "Exam 2": [90,80,85,70,92],
        "Exam 3": [92,85,88,75,96]    
        }

df = pd.DataFrame(data)
display(df.head())

# Perform one-way ANOVA
f_statistic, p_value = f_oneway(df["Exam 1"], df["Exam 2"], df["Exam 3"])

print("f_Statistic:", f_statistic)
print("p-value:", p_value)

if p_value < 0.05:
    print("The mean scores of the students are not the same.")
    
    highest_score_student = df.loc[df["Exam 1"].idxmax(), "Name"]
    print("The student with the highest score is:", highest_score_student)
else:
    print("The mean scores of the students are the same.")

      Name  Exam 1  Exam 2  Exam 3
0    Karan      85      90      92
1    Deepa      70      80      85
2  Karthik      90      85      88
3  Chandan      75      70      75
4   Jeevan      95      92      96

f_Statistic: 0.3236947791164659
p-value: 0.7295954253321559
The mean scores of the students are the same.